In [1]:
import yfinance as yf
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = yf.download("VOO", start="2025-01-01")
df.reset_index(inplace=True)

df

/tmp/ipykernel_15249/4002428412.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download("VOO", start="2025-01-01")
[*********************100%***********************]  1 of 1 completed

Price        Date       Close        High         Low        Open    Volume
Ticker                    VOO         VOO         VOO         VOO       VOO
0      2025-01-02  532.431824  538.454899  528.796115  536.949160   7142700
1      2025-01-03  539.306946  539.782436  534.155582  535.136310   6416300
2      2025-01-06  542.447327  546.271201  540.713698  543.150706   5983400
3      2025-01-07  536.344910  544.458292  534.512241  544.180943   5383200
4      2025-01-08  537.068115  537.920055  533.046100  536.255779   4317000
..            ...         ...         ...         ...         ...       ...
183    2025-09-26  608.419983  608.958482  604.840255  606.296113   6438600
184    2025-09-29  610.130005  611.679993  608.479980  610.789978   5658800
185    2025-09-30  612.380005  612.859985  608.270020  609.429993   6515700
186    2025-10-01  614.570007  615.390015  609.570007  609.700012  10020000
187    2025-10-02  615.250000  616.479980  613.033386  616.409973   6520727

[188 rows x 6 columns]